.body {
    font-family: 'Castoro', serif;
}

.title {
    color: black;
    font-size: 50px;
}

.ing {
    color: black;
    font-size: 35px;
    margin-bottom: 5px;
}
.servigns {
    padding-bottom: 10px;
}

