.body {
    font-family: 'Castoro', serif;
}

.title {
    color: black;
    font-size: 50px;
}

.ing {
    color: black;
    font-size: 35px;
    margin-bottom: 5px;
}
.servigns {
    padding-bottom: 10px;
}

.img1 {
    max-height: 175px;
}

.column1 {
    font-size: 30px;
}

.alignIng {
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: -9px;
}